# Environment Configuration
BASE_URL=https://the-internet.herokuapp.com/
TEST_USERNAME=tomsmith
TEST_PASSWORD=SuperSecretPassword!

# Browser Configuration
BROWSER=chromium
HEADLESS=false
SLOW_MO=100
TIMEOUT=30000

# Test Configuration
RETRY_COUNT=3
RETRY_DELAY=1000
SCREENSHOT_ON_FAILURE=true
VIDEO_ON_FAILURE=true

# Allure Reporting
ALLURE_RESULTS_DIR=allure-results

# Users for Login (The Internet test site uses same credentials for all)
USER_PM_USERNAME=tomsmith
USER_PM_PASSWORD=SuperSecretPassword!
USER_PM_ROLE=user
USER_PM_FIRST=Paul
USER_PM_LAST=Manning
USER_PM_INITIALS=PM

USER_ADMIN_USERNAME=tomsmith
USER_ADMIN_PASSWORD=SuperSecretPassword!
USER_ADMIN_ROLE=admin
USER_ADMIN_FIRST=Bob
USER_ADMIN_LAST=Admin
USER_ADMIN_INITIALS=BA

USER_COACH_USERNAME=tomsmith
USER_COACH_PASSWORD=SuperSecretPassword!
USER_COACH_ROLE=coach
USER_COACH_FIRST=Coach
USER_COACH_LAST=Bob
USER_COACH_INITIALS=CB

# Enable/disable AI healing
AI_HEALING_ENABLED=true

# AI service endpoint  
AI_HEALING_ENDPOINT=http://localhost:8000/heal-test

# Confidence threshold
AI_HEALING_CONFIDENCE=0.7

#OLLAMA local model info - this is the config default for now
OLLAMA_MODEL=llama3.1:8b
OLLAMA_HOST=http://localhost:11434

DEBUG_MSG=false

BROWSERSTACK_USERNAME="your_username"
BROWSERSTACK_ACCESS_KEY="your_access_key"
BROWSERSTACK_ENABLED=false