.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
test-results/
playwright-report/
test_artifacts/allure/allure-results/
test_artifacts/allure/allure-report/
test_artifacts/allure/screenshots/
test_artifacts/ai/ai_healing_reports/
test_artifacts/visual/visual_baselines/
test_artifacts/visual/visual_current/
test_artifacts/visual/visual_diffs/
videos/
create/
tests/login/testx*
.env.dev
.env.prod
.env.test
.python-version
chenge_python.sh
chromium_test.py
reset_env.sh
utils/upload_secrets.sh
requirements.*
utils/helpers.py
run_tests.sh
ai_healing_reports/
